nervia/n8n-workflows/04_leads_landing.json
{
  "name": "Nervia — Captura de Leads (Landing)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nervia-leads",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook — Lead Landing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Lead recibido\" }"
      },
      "name": "Respuesta 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 160]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst now = new Date().toLocaleDateString('es-ES', {\n  year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit'\n});\n\nconst esc = s => String(s || '').replace(/'/g, \"''\").substring(0, 200);\n\nconst planMap = { base: 'base', pro: 'pro' };\nconst planNorm = planMap[(body.plan || '').toLowerCase()] || 'sin_definir';\n\nreturn [{\n  json: {\n    nombre:      body.nombre    || '',\n    email:       body.email     || '',\n    telefono:    body.telefono  || '',\n    especialidad: body.especialidad || '',\n    plan:        body.plan      || 'no especificado',\n    fecha:       now,\n    source:      'Landing Nervia',\n    // Campos para DB (escapados)\n    nombreEsc:       esc(body.nombre),\n    emailEsc:        esc(body.email),\n    telefonoEsc:     esc(body.telefono),\n    especialidadEsc: esc(body.especialidad),\n    mensajeEsc:      esc(body.mensaje),\n    planNorm,\n    utmSource: esc(body.utm_source),\n    utmMedium: esc(body.utm_medium),\n    // Mensaje Telegram\n    msg: `🎯 *Nuevo lead Nervia*\\n\\n👤 ${body.nombre}\\n📧 ${body.email}\\n📱 ${body.telefono || '—'}\\n🏥 ${body.especialidad}\\n📋 Plan: ${body.plan}\\n\\n📅 ${now}`\n  }\n}];"
      },
      "name": "Preparar Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO leads\n  (nombre, email, telefono, especialidad, plan_interes, utm_source, utm_medium, estado, creado_en)\nVALUES\n  ('{{ $json.nombreEsc }}',\n   '{{ $json.emailEsc }}',\n   NULLIF('{{ $json.telefonoEsc }}', ''),\n   NULLIF('{{ $json.especialidadEsc }}', ''),\n   '{{ $json.planNorm }}',\n   NULLIF('{{ $json.utmSource }}', ''),\n   NULLIF('{{ $json.utmMedium }}', ''),\n   'nuevo',\n   NOW())",
        "options": {}
      },
      "name": "DB — Guardar Lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [700, 300],
      "credentials": {
        "mySql": {
          "id": "10",
          "name": "MariaDB — Nervia"
        }
      }
    },
    {
      "parameters": {
        "chatId": "TU_TELEGRAM_ADMIN_ID",
        "text": "={{ $('Preparar Lead').item.json.msg }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "name": "Notificar Admin Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [700, 480],
      "credentials": {
        "telegramApi": {
          "id": "5",
          "name": "Telegram — Admin Nervia"
        }
      }
    }
  ],
  "connections": {
    "Webhook — Lead Landing": {
      "main": [[
        { "node": "Respuesta 200",  "type": "main", "index": 0 },
        { "node": "Preparar Lead",  "type": "main", "index": 0 }
      ]]
    },
    "Preparar Lead": {
      "main": [[
        { "node": "DB — Guardar Lead",        "type": "main", "index": 0 },
        { "node": "Notificar Admin Telegram",  "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
